@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 15px;
  width: 15px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  background-color: #9b9b9b;
  border-radius: 50%;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  font-family: "slick";
  font-size: 6px;
  line-height: 10px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.container {
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class*='col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66667%;
}

.col-10 {
  width: 83.33333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66667%;
}

.col-7 {
  width: 58.33333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66667%;
}

.col-4 {
  width: 33.33333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66667%;
}

.col-1 {
  width: 8.33333%;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
}

a,
button {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity;
}

a svg,
button svg {
  fill: currentColor;
}

button,
.button {
  cursor: pointer;
}

ul li {
  color: white;
  font-size: 32px;
}

.menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E8E6E6;
}

.menu__item {
  font-size: 0.875rem;
  margin-right: 3.5714em;
  letter-spacing: 3px;
}

.menu__item.active {
  color: #ea5823;
}

.menu__item:hover {
  color: #ea5823;
}

.logo {
  font-family: "neuzeit_grotesk", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 800;
}

.logo:hover {
  color: #ea5823;
}

.header {
  color: white;
  background-color: #1f1f1f;
  z-index: 5;
  width: 100%;
  height: 100px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  padding-left: 15px;
}

.header .basket {
  color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ea5823;
  width: 100px;
  height: 100%;
}

.header .basket-content {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .basket svg {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.item {
  width: 23%;
  margin: 0 1%;
  margin-bottom: 25px;
}

.item__image {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 25px;
}

.item__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item--hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #999997;
  background-color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.item--new {
  font-size: 1rem;
  position: absolute;
  padding: 5px 10px;
  background-color: #ea5823;
  color: white;
}

.item-info {
  text-align: center;
}

.item-info__name {
  font-weight: normal;
  font-size: 18px;
  color: #ea5823;
  margin-bottom: 15px;
}

.item-info__price {
  font-size: 0.875rem;
  color: #999997;
}

.item:hover .item--hover {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.cart {
  position: fixed;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-card {
  background-color: #1f1f1f;
  width: 350px;
}

.cart-card__head {
  font-size: 24px;
  background-color: #ea5823;
  font-family: "NeuzeitGrotesk", sans-serif;
  padding: 30px 20px;
}

.cart-card__head button {
  border: none;
  background-color: transparent;
}

.cart-card__head button svg {
  fill: white;
}

.cart-card__head span {
  text-align: center;
}

.q-view {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.q-view-card {
  padding: 50px;
  height: 65%;
  width: 60%;
  background: #e8e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.q-view-card #close-btn {
  border: none;
  display: inline-block;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  -webkit-transition: 0s;
  transition: 0s;
}

.q-view-card #close-btn:hover {
  opacity: 1;
}

.q-view-card #close-btn:before, .q-view-card #close-btn:after {
  position: absolute;
  left: 15px;
  top: 0;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #575757;
}

.q-view-card #close-btn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.q-view-card #close-btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.q-view-card-image {
  width: 50%;
  margin-right: 25px;
}

.q-view-card__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 25px;
}

.q-view-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.q-view-card-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.q-view-card-info__title {
  font-size: 40px;
  color: #ea5823;
  font-family: "NeuzeitGrotesk", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.q-view-card-info__id {
  opacity: .6;
  margin-bottom: 30px;
}

.q-view-card-info__price {
  font-size: 22px;
  color: #575757;
  margin-right: 10px;
}

.q-view-card-info__link {
  color: #adabab;
  font-size: 14px;
  border-bottom: 0.5px solid #adabab;
  -webkit-transition: 0s;
  transition: 0s;
}

.q-view-card-info__link:hover {
  color: #575757;
}

.q-view-card-info label {
  font-size: 18px;
  opacity: .6;
  padding-top: 30px;
  margin-bottom: 10px;
}

.q-view-card-info input {
  font-size: 18px;
  color: #adabab;
  height: 50px;
  width: 100%;
  border: 1px solid #adabab;
  padding: 0 15px;
}

.q-view-card-info #select {
  position: relative;
  width: 100%;
}

.q-view-card-info #select select {
  font-size: 18px;
  color: #adabab;
  padding-right: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 50px;
  width: 100%;
  padding: 0 15px;
}

.q-view-card-info #select select option {
  color: #575757;
  border-color: #575757;
}

.q-view-card-info #select select:hover {
  border-color: #575757;
}

.q-view-card-info #select:after {
  cursor: pointer;
  content: " ";
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 35%;
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 1px solid #adabab;
  border-top: 1px solid #adabab;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.q-view-card-info #input-number {
  position: relative;
  display: inline-block;
}

.q-view-card-info #input-number input::-webkit-inner-spin-button {
  display: none;
}

.q-view-card-info #input-number input:hover {
  border-color: #575757;
}

.q-view-card-info #input-number span {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #adabab;
  border-top: 1px solid #adabab;
  cursor: pointer;
}

.q-view-card-info #input-number span:nth-of-type(1) {
  top: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.q-view-card-info #input-number span:nth-of-type(2) {
  bottom: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.q-view-card-info #input-number span:hover {
  border-color: #575757;
}

.q-view-card-info #add-btn {
  background-color: #ea5823;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
}

.q-view-card-info #add-btn:hover {
  opacity: 0.8;
}

.footer {
  background-color: #1f1f1f;
  padding: 80px 0;
}

.footer .container {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .list__title {
  text-transform: uppercase;
  display: inline-block;
  color: #ea5823;
  font-family: "NeuzeitGrotesk", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  margin-bottom: 1em;
}

.footer .list__item {
  color: #999997;
  font-size: 1rem;
  margin-bottom: 0.7em;
}

.footer .list__item:hover {
  color: #ea5823;
}

.footer .list form {
  width: 100%;
}

.footer .list input[type="email"] {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid #999997;
  background-color: transparent;
  padding: 10px;
  color: #999997;
  margin-bottom: 30px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.footer .list input[type="email"]:hover {
  border: 1px solid #999997;
}

.footer .list input[type="submit"] {
  border: 1px solid transparent;
  background-color: #ea5823;
  padding: 7px 30px;
  width: 100%;
  color: white;
}

.footer .list input[type="submit"]:hover {
  border-color: #ea5823;
  background-color: transparent;
}

.copyright {
  background-color: #ea5823;
  padding: 20px;
  font-size: 0.875rem;
}

.copyright .container {
  width: 1000px;
}

.contact {
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url(../img/bg-lines.png);
  background-size: cover;
}

.contact__title {
  font-weight: 400;
  width: 50%;
  font-family: "NeuzeitGrotesk", sans-serif;
  color: #ea5823;
  font-size: 2.5rem;
  padding: 30px;
  border: 3px solid #ea5823;
}

.contact__title svg {
  fill: #ea5823;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.contact-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-info__image {
  padding-left: 35px;
  width: 350px;
  height: 500px;
  padding-top: 40px;
}

.contact-info__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-info-text {
  width: 40%;
  padding-left: 35px;
  margin-right: 50px;
  padding-top: 40px;
}

.contact-info-text__main {
  color: #ea5823;
  padding-bottom: 30px;
}

.contact-info-text__main h3 {
  font-family: "NeuzeitGrotesk", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 30px;
}

.contact-info-text__main p {
  font-size: 1rem;
}

.contact-info-text-stockists {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-info-text-stockists__item {
  margin-right: 40px;
  margin-bottom: 30px;
}

.contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

.contact-card-form {
  padding: 10px;
  width: 40%;
  background-color: #ea5823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-card-form input, .contact-card-form textarea {
  width: 75%;
  border: 1px solid transparent;
  border-bottom-color: black;
  background-color: transparent;
  color: black;
  padding: 10px;
  margin-top: 10px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.contact-card-form input::-webkit-input-placeholder, .contact-card-form textarea::-webkit-input-placeholder {
  color: black;
}

.contact-card-form input:-ms-input-placeholder, .contact-card-form textarea:-ms-input-placeholder {
  color: black;
}

.contact-card-form input::-ms-input-placeholder, .contact-card-form textarea::-ms-input-placeholder {
  color: black;
}

.contact-card-form input::placeholder, .contact-card-form textarea::placeholder {
  color: black;
}

.contact-card-form input:hover, .contact-card-form textarea:hover {
  border: 1px solid black;
}

.contact-card-form input[type="submit"] {
  margin-top: 30px;
  width: 40%;
  border: 1px solid black;
  color: black;
}

.contact-card-form input[type="submit"]:hover {
  color: white;
  background-color: #1f1f1f;
}

.contact-card-form__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

.contact-card-form__contacts input {
  width: 49%;
}

#contact-card-map {
  width: 60%;
  height: 300px;
}
/*# sourceMappingURL=contact.css.map */