.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class*='col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66667%;
}

.col-10 {
  width: 83.33333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66667%;
}

.col-7 {
  width: 58.33333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66667%;
}

.col-4 {
  width: 33.33333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66667%;
}

.col-1 {
  width: 8.33333%;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
}

a,
button {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity;
}

a svg,
button svg {
  fill: currentColor;
}

button,
.button {
  cursor: pointer;
}

ul li {
  color: white;
  font-size: 32px;
}

.menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E8E6E6;
}

.menu__item {
  font-size: 0.875rem;
  margin-right: 3.5714em;
  letter-spacing: 3px;
}

.menu__item:hover {
  color: #ea5823;
}

.logo {
  font-family: "neuzeit_grotesk", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 800;
}

.logo:hover {
  color: #ea5823;
}

.header {
  color: white;
  background-color: #1f1f1f;
  z-index: 5;
  width: 100%;
  height: 100px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  padding-left: 15px;
}

.header .basket {
  color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ea5823;
  width: 100px;
  height: 100%;
}

.header .basket-content {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .basket svg {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 100vh;
  padding-top: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  padding-left: 7%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-left-content__title {
  font-family: "NeuzeitGrotesk", sans-serif;
  font-weight: 400;
  font-size: 3.125rem;
  letter-spacing: 0.2em;
  margin-bottom: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-left-content__title span {
  margin-bottom: 0.2em;
}

.hero-left-content__title span:first-child {
  letter-spacing: 0.3em;
}

.hero-left-content__btn {
  text-transform: uppercase;
  padding-bottom: 5px;
  border: 2px solid transparent;
  border-bottom: 2px solid white;
  padding: 6px 8px;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

.hero-left-content__btn:hover {
  border: 2px solid white;
}

.hero-right {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/hero-road1.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles {
  position: relative;
  background-color: #ea5823;
  background-image: url(../img/bg-lines.png);
  padding: 100px 0 300px;
}

.articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 33.333%;
  height: calc(100% - 100px);
}

.article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-box {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 75%;
  padding: 30px 20px 30px 20px;
}

.article-box-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-box svg {
  height: 25px;
  width: 25px;
}

.article-box a {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: inline-block;
  border: 3px solid #ea5823;
  padding: 120px 15px 5px;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #ea5823), to(#ea5823));
  background-image: linear-gradient(to left, transparent, transparent 50%, #ea5823 50%, #ea5823);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.article-box a:hover {
  background-position: 0 0;
}

.article-box a:hover svg {
  fill: white;
}

.article-box__title {
  font-weight: 400;
  font-family: "NeuzeitGrotesk", sans-serif;
  color: #ea5823;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-right: 10px;
}

.article:nth-child(2) .article-box {
  color: white;
  background-color: #ea5823;
}

.article:nth-child(2) .article-box h3 {
  color: white;
}

.article:nth-child(2) .article-box a {
  border-color: white;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, white), to(white));
  background-image: linear-gradient(to left, transparent, transparent 50%, white 50%, white);
}

.article:nth-child(2) .article-box a:hover {
  background-position: 0 0;
}

.article:nth-child(2) .article-box a:hover svg {
  fill: #ea5823;
}

.big-article {
  width: 100%;
  position: absolute;
  bottom: -365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-article-info {
  margin-right: 5%;
}

.big-article-info__title {
  color: white;
  font-family: "NeuzeitGrotesk", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 0.1em;
}

.big-article-info__title span {
  margin-bottom: 0.1em;
}

.big-article-info__title span:last-child {
  color: #ea5823;
}

.big-article-info__text {
  width: 350px;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5em;
  height: 6em;
  margin-bottom: 40px;
}

.big-article-image {
  position: relative;
  height: 640px;
  width: 380px;
  padding: 20px;
  background-color: #e8e6e6;
}

.big-article-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-article-image:after {
  content: "";
  bottom: 40px;
  left: 40px;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 80px);
  border: 3px solid #ea5823;
}

.btn {
  font-size: 1rem;
  display: inline-block;
  border: 2px solid #ea5823;
  color: #ea5823;
  padding: 10px 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #ea5823), to(#ea5823));
  background-image: linear-gradient(to left, transparent, transparent 50%, #ea5823 50%, #ea5823);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.btn:hover {
  background-position: 0 0;
  color: white;
}

.arrivals {
  text-align: center;
  padding: 420px 0 90px;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrivals .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrivals__title {
  font-family: "NeuzeitGrotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #999997;
  font-size: 2.5rem;
  margin-bottom: 70px;
}

.arrivals-item {
  width: 25%;
  margin: 15px;
}

.arrivals-item__image {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 25px;
}

.arrivals-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrivals-item--hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #999997;
  background-color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.arrivals-item--new {
  font-size: 1rem;
  position: absolute;
  padding: 5px 10px;
  background-color: #ea5823;
  color: white;
}

.arrivals-item-info {
  text-align: center;
}

.arrivals-item-info__name {
  font-weight: normal;
  font-size: 18px;
  color: #ea5823;
  margin-bottom: 15px;
}

.arrivals-item-info__price {
  font-size: 0.875rem;
  color: #999997;
}

.arrivals-item:hover .arrivals-item--hover {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.arrivals .btn {
  margin-top: 30px;
  padding: 10px 60px;
}

.footer {
  background-color: #1f1f1f;
  padding: 80px 0;
}

.footer .container {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .list__title {
  text-transform: uppercase;
  display: inline-block;
  color: #ea5823;
  font-family: "NeuzeitGrotesk", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  margin-bottom: 1em;
}

.footer .list__item {
  color: #999997;
  font-size: 1rem;
  margin-bottom: 0.7em;
}

.footer .list__item:hover {
  color: #ea5823;
}

.footer .list form {
  width: 100%;
}

.footer .list input[type="email"] {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid #999997;
  background-color: transparent;
  padding: 10px;
  color: #999997;
  margin-bottom: 30px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.footer .list input[type="email"]:hover {
  border: 1px solid #999997;
}

.footer .list input[type="submit"] {
  border: 1px solid transparent;
  background-color: #ea5823;
  padding: 7px 30px;
  width: 100%;
  color: white;
}

.footer .list input[type="submit"]:hover {
  border-color: #ea5823;
  background-color: transparent;
}

.copyright {
  background-color: #ea5823;
  padding: 20px;
  font-size: 0.875rem;
}

.copyright .container {
  width: 1000px;
}

.burger {
  z-index: 5;
  width: 25px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burger span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burger span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burger--open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1px;
  left: 2px;
}

.burger--open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.burger--open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 2px;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background-color: black;
}

.burger--open span {
  background-color: #ea5823;
}

.burger-menu {
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-menu ul {
  width: 50%;
}

.burger-menu__item {
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  letter-spacing: 4px;
}

.burger-menu__item--active {
  color: #ea5823;
}

.q-view {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.q-view-card {
  padding: 50px;
  height: 65%;
  width: 60%;
  background: #e8e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.q-view-card #close-btn {
  border: none;
  display: inline-block;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  -webkit-transition: 0s;
  transition: 0s;
}

.q-view-card #close-btn:hover {
  opacity: 1;
}

.q-view-card #close-btn:before, .q-view-card #close-btn:after {
  position: absolute;
  left: 15px;
  top: 0;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #575757;
}

.q-view-card #close-btn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.q-view-card #close-btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.q-view-card-image {
  width: 50%;
  margin-right: 25px;
}

.q-view-card__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 25px;
}

.q-view-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.q-view-card-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.q-view-card-info__title {
  font-size: 40px;
  color: #ea5823;
  font-family: "NeuzeitGrotesk", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.q-view-card-info__id {
  opacity: .6;
  margin-bottom: 30px;
}

.q-view-card-info__price {
  font-size: 22px;
  color: #575757;
  margin-right: 10px;
}

.q-view-card-info__link {
  color: #adabab;
  font-size: 14px;
  border-bottom: 0.5px solid #adabab;
  -webkit-transition: 0s;
  transition: 0s;
}

.q-view-card-info__link:hover {
  color: #575757;
}

.q-view-card-info label {
  font-size: 18px;
  opacity: .6;
  padding-top: 30px;
  margin-bottom: 10px;
}

.q-view-card-info input {
  font-size: 18px;
  color: #adabab;
  height: 50px;
  width: 100%;
  border: 1px solid #adabab;
  padding: 0 15px;
}

.q-view-card-info #select {
  position: relative;
  width: 100%;
}

.q-view-card-info #select select {
  font-size: 18px;
  color: #adabab;
  padding-right: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 50px;
  width: 100%;
  padding: 0 15px;
}

.q-view-card-info #select select option {
  color: #575757;
  border-color: #575757;
}

.q-view-card-info #select select:hover {
  border-color: #575757;
}

.q-view-card-info #select:after {
  cursor: pointer;
  content: " ";
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 35%;
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 1px solid #adabab;
  border-top: 1px solid #adabab;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.q-view-card-info #input-number {
  position: relative;
  display: inline-block;
}

.q-view-card-info #input-number input::-webkit-inner-spin-button {
  display: none;
}

.q-view-card-info #input-number input:hover {
  border-color: #575757;
}

.q-view-card-info #input-number span {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #adabab;
  border-top: 1px solid #adabab;
  cursor: pointer;
}

.q-view-card-info #input-number span:nth-of-type(1) {
  top: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.q-view-card-info #input-number span:nth-of-type(2) {
  bottom: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.q-view-card-info #input-number span:hover {
  border-color: #575757;
}

.q-view-card-info #add-btn {
  background-color: #ea5823;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
}

.q-view-card-info #add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
  .header {
    height: 80px;
  }
  .hero {
    padding-top: 80px;
  }
  .hero-left {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: -400px;
  }
  .hero-right {
    display: none;
  }
  .articles {
    padding: 0;
    padding-bottom: 220px;
  }
  .articles-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .article {
    width: 100%;
    height: 100vh;
  }
  .article-box {
    width: 90%;
    bottom: 50px;
  }
  .article-box a {
    padding: 140px 20px 5px;
  }
  .big-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: -710px;
  }
  .big-article-info {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .big-article-image {
    height: 400px;
    width: 70%;
  }
  .big-article .btn {
    width: 100%;
    text-align: center;
  }
  .big-article-info__title {
    font-size: 4rem;
  }
  .big-article-info__text {
    width: 300px;
  }
  .arrivals {
    padding-top: 750px;
  }
  .arrivals .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .arrivals__title {
    margin-bottom: 40px;
  }
  .arrivals-item {
    width: 100%;
  }
  .footer {
    padding: 50px 0;
  }
  .footer .container {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 25px;
  }
  .footer .list__title {
    margin-bottom: 15px;
    font-size: 2.2rem;
  }
  .footer .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=home.css.map */