$mainColor: #ea5823;
$mainBackground: #1f1f1f;
$titleFont: 'NeuzeitGrotesk',
sans-serif;
$container: 1250px;
$colGups: 15px;
$textFont-size: 1rem;

$breakpoints: (xs: 0, sm: 575px, md: 768px, lg: 1025px, xl: 1200px, xxl: 1440px);

$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

@mixin col-create() {
  @while $col>0 {
    .col-#{$col} {
      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

.container {
  max-width: $container;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  // margin-right: -$colGups;
  // margin-left: -$colGups;
}

[class*='col'] {
  padding-left: $colGups;
  padding-right: $colGups;
  width: 100%;
  min-height: 1px;
}

@include col-create();

body {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
}

a,
button {
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;

  svg {
    fill: currentColor;
  }
}

button,
.button {
  cursor: pointer;
}

ul li {
  color: white;
  font-size: 32px;
}

.menu {
  text-transform: uppercase;
  display: flex;
  color: #E8E6E6;

  &__item {
    font-size: 0.875rem;
    margin-right: 3.5714em;
    letter-spacing: 3px;

    &:hover {
      color: $mainColor;
    }
  }
}

.logo {
  font-family: "neuzeit_grotesk", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 800;

  &:hover {
    color: $mainColor;
  }
}

.header {
  color: white;
  background-color: $mainBackground;
  z-index: 5;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    padding-left: 15px;
  }

  .basket {
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $mainColor;
    width: 100px;
    height: 100%;

    &-content {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: flex-end;
    }

    svg {
      height: 30px;
      width: 30px;
      margin-right: 5px;
    }
  }
}

.item {
  width: 23%;
  margin: 0 1%;
  margin-bottom: 25px;

  &__image {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 25px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &--hover {
    transition: 0.5s ease-in;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: #999997;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  &--new {
    font-size: 1rem;
    position: absolute;
    padding: 5px 10px;
    background-color: $mainColor;
    color: white;
  }

  &-info {
    text-align: center;

    &__name {
      font-weight: normal;
      font-size: 18px;
      color: $mainColor;
      margin-bottom: 15px;
    }

    &__price {
      font-size: 0.875rem;
      color: #999997;
    }
  }

  &:hover .item--hover {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

.q-view {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: .6);
  display: flex;
  justify-content: center;
  align-items: center;

  &-card {
    padding: 50px;
    height: 65%;
    width: 60%;
    background: rgba(232, 230, 230, 1);
    display: flex;
    position: relative;

    #close-btn {
      border: none;
      display: inline-block;
      background-color: transparent;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 25px;
      height: 25px;
      opacity: 0.3;
      transition: 0s;

      &:hover {
        opacity: 1;
      }

      &:before,
      &:after {
        position: absolute;
        left: 15px;
        top: 0;
        content: ' ';
        height: 25px;
        width: 2px;
        background-color: #575757;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &-image {
      width: 50%;
      margin-right: 25px;
    }

    &__img {
      overflow: hidden;
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      margin-bottom: 25px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &__title {
        font-size: 40px;
        color: $mainColor;
        font-family: $titleFont;
        font-weight: 400;
        margin-bottom: 10px;
      }

      &__id {
        opacity: .6;
        margin-bottom: 30px;
      }

      &__price {
        font-size: 22px;
        color: #575757;
        margin-right: 10px;
      }

      &__link {
        color: #adabab;
        font-size: 14px;
        border-bottom: 0.5px solid #adabab;
        transition: 0s;

        &:hover {
          color: #575757;
        }
      }

      label {
        font-size: 18px;
        opacity: .6;
        padding-top: 30px;
        margin-bottom: 10px;
      }

      input {
        font-size: 18px;
        color: #adabab;
        height: 50px;
        width: 100%;
        border: 1px solid #adabab;
        padding: 0 15px;
      }

      #select {
        position: relative;
        width: 100%;

        & select {
          font-size: 18px;
          color: #adabab;
          padding-right: 40px;
          appearance: none;
          height: 50px;
          width: 100%;
          padding: 0 15px;

          & option {
            color: #575757;
            border-color: #575757;
          }

          &:hover {
            border-color: #575757;
          }
        }

        &:after {
          cursor: pointer;
          content: " ";
          z-index: 1;
          position: absolute;
          right: 15px;
          top: 35%;
          position: absolute;
          width: 10px;
          height: 10px;
          border-right: 1px solid #adabab;
          border-top: 1px solid #adabab;
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
        }
      }

      #input-number {
        position: relative;
        display: inline-block;

        & input {
          &::-webkit-inner-spin-button {
            display: none;
          }

          &:hover {
            border-color: #575757;
          }
        }

        & span {
          position: absolute;
          right: 15px;
          width: 10px;
          height: 10px;
          border-right: 1px solid #adabab;
          border-top: 1px solid #adabab;
          cursor: pointer;

          &:nth-of-type(1) {
            top: 12px;
            transform: rotate(-45deg);
          }

          &:nth-of-type(2) {
            bottom: 12px;
            transform: rotate(135deg);
          }

          &:hover {
            border-color: #575757;
          }
        }
      }

      #add-btn {
        background-color: $mainColor;
        color: white;
        border: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 30px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

