$mainColor: #ea5823;
$mainBackground: #1f1f1f;
$titleFont: 'NeuzeitGrotesk',
sans-serif;
$container: 1170px;
$colGups: 15px;
$textFont-size: 1rem;

$breakpoints: (xs: 0, sm: 575px, md: 768px, lg: 1025px, xl: 1200px, xxl: 1440px);

$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

@mixin col-create() {
  @while $col>0 {
    .col-#{$col} {
      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

.container {
  max-width: $container;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  // margin-right: -$colGups;
  // margin-left: -$colGups;
}

[class*='col'] {
  padding-left: $colGups;
  padding-right: $colGups;
  width: 100%;
  min-height: 1px;
}

@include col-create();

body {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
}

a,
button {
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;

  svg {
    fill: currentColor;
  }
}

button,
.button {
  cursor: pointer;
}

ul li {
  color: white;
  font-size: 32px;
}

.menu {
  text-transform: uppercase;
  display: flex;
  color: #E8E6E6;

  &__item {
    font-size: 0.875rem;
    margin-right: 3.5714em;
    letter-spacing: 3px;

    &:hover {
      color: $mainColor;
    }
  }
}

.logo {
  font-family: "neuzeit_grotesk", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 800;

  &:hover {
    color: $mainColor;
  }
}

.header {
  color: white;
  background-color: $mainBackground;
  z-index: 5;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    padding-left: 15px;
  }

  .basket {
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $mainColor;
    width: 100px;
    height: 100%;

    &-content {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: flex-end;
    }

    svg {
      height: 30px;
      width: 30px;
      margin-right: 5px;
    }
  }
}