.container {
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class*='col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66667%;
}

.col-10 {
  width: 83.33333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66667%;
}

.col-7 {
  width: 58.33333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66667%;
}

.col-4 {
  width: 33.33333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66667%;
}

.col-1 {
  width: 8.33333%;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
}

a,
button {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity;
}

a svg,
button svg {
  fill: currentColor;
}

button,
.button {
  cursor: pointer;
}

ul li {
  color: white;
  font-size: 32px;
}

.menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E8E6E6;
}

.menu__item {
  font-size: 0.875rem;
  margin-right: 3.5714em;
  letter-spacing: 3px;
}

.menu__item:hover {
  color: #ea5823;
}

.logo {
  font-family: "neuzeit_grotesk", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 800;
}

.logo:hover {
  color: #ea5823;
}

.header {
  color: white;
  background-color: #1f1f1f;
  z-index: 5;
  width: 100%;
  height: 100px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  padding-left: 15px;
}

.header .basket {
  color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ea5823;
  width: 100px;
  height: 100%;
}

.header .basket-content {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .basket svg {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.item {
  width: 23%;
  margin: 0 1%;
  margin-bottom: 25px;
}

.item__image {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 25px;
}

.item__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item--hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #999997;
  background-color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.item--new {
  font-size: 1rem;
  position: absolute;
  padding: 5px 10px;
  background-color: #ea5823;
  color: white;
}

.item-info {
  text-align: center;
}

.item-info__name {
  font-weight: normal;
  font-size: 18px;
  color: #ea5823;
  margin-bottom: 15px;
}

.item-info__price {
  font-size: 0.875rem;
  color: #999997;
}

.item:hover .item--hover {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.q-view {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.q-view-card {
  padding: 50px;
  height: 65%;
  width: 60%;
  background: #e8e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.q-view-card #close-btn {
  border: none;
  display: inline-block;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  -webkit-transition: 0s;
  transition: 0s;
}

.q-view-card #close-btn:hover {
  opacity: 1;
}

.q-view-card #close-btn:before, .q-view-card #close-btn:after {
  position: absolute;
  left: 15px;
  top: 0;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #575757;
}

.q-view-card #close-btn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.q-view-card #close-btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.q-view-card-image {
  width: 50%;
  margin-right: 25px;
}

.q-view-card__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 25px;
}

.q-view-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.q-view-card-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.q-view-card-info__title {
  font-size: 40px;
  color: #ea5823;
  font-family: "NeuzeitGrotesk", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.q-view-card-info__id {
  opacity: .6;
  margin-bottom: 30px;
}

.q-view-card-info__price {
  font-size: 22px;
  color: #575757;
  margin-right: 10px;
}

.q-view-card-info__link {
  color: #adabab;
  font-size: 14px;
  border-bottom: 0.5px solid #adabab;
  -webkit-transition: 0s;
  transition: 0s;
}

.q-view-card-info__link:hover {
  color: #575757;
}

.q-view-card-info label {
  font-size: 18px;
  opacity: .6;
  padding-top: 30px;
  margin-bottom: 10px;
}

.q-view-card-info input {
  font-size: 18px;
  color: #adabab;
  height: 50px;
  width: 100%;
  border: 1px solid #adabab;
  padding: 0 15px;
}

.q-view-card-info #select {
  position: relative;
  width: 100%;
}

.q-view-card-info #select select {
  font-size: 18px;
  color: #adabab;
  padding-right: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 50px;
  width: 100%;
  padding: 0 15px;
}

.q-view-card-info #select select option {
  color: #575757;
  border-color: #575757;
}

.q-view-card-info #select select:hover {
  border-color: #575757;
}

.q-view-card-info #select:after {
  cursor: pointer;
  content: " ";
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 35%;
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 1px solid #adabab;
  border-top: 1px solid #adabab;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.q-view-card-info #input-number {
  position: relative;
  display: inline-block;
}

.q-view-card-info #input-number input::-webkit-inner-spin-button {
  display: none;
}

.q-view-card-info #input-number input:hover {
  border-color: #575757;
}

.q-view-card-info #input-number span {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #adabab;
  border-top: 1px solid #adabab;
  cursor: pointer;
}

.q-view-card-info #input-number span:nth-of-type(1) {
  top: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.q-view-card-info #input-number span:nth-of-type(2) {
  bottom: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.q-view-card-info #input-number span:hover {
  border-color: #575757;
}

.q-view-card-info #add-btn {
  background-color: #ea5823;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
}

.q-view-card-info #add-btn:hover {
  opacity: 0.8;
}

.hero {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
}

.hero-left {
  width: 40%;
  background-color: #ea5823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-left__title {
  display: inline-block;
  font-family: "NeuzeitGrotesk", sans-serif;
  font-weight: 400;
  font-size: 5.125rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  border: 3px solid white;
  padding: 10px 30px;
}

.hero-right {
  width: 60%;
  background-image: url("../img/run.jpg");
  background-size: cover;
}

.shop {
  padding-top: 50px;
  background-image: url(../img/bg-lines.png);
  background-size: cover;
}

.shop .container {
  min-width: 100vw;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter {
  margin-right: 15px;
  width: 290px;
  background-color: #1f1f1f;
  color: white;
  padding: 0 20px;
}

.filter__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 70px;
  height: 70px;
}

.filter-head {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  font-size: 16px;
  font-weight: normal;
  border-top: 0.5px solid rgba(255, 255, 255, 0.8);
}

.filter-head h3 {
  font-weight: normal;
}

.filter-head .plus {
  width: 14px;
  height: 14px;
  position: relative;
}

.filter-head .plus span {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  background: white;
}

.filter-head .plus span:first-of-type {
  top: 0;
  bottom: 0;
  width: 2px;
  left: 6px;
}

.filter-head .plus span:last-of-type {
  left: 0;
  right: 0;
  height: 2px;
  top: 6px;
}

.filter-head .plus.active span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 50%;
  right: 50%;
}

.filter-body {
  padding-bottom: 20px;
}

.filter-list__item {
  padding-bottom: 5px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.filter-list__item:hover {
  color: #fff;
  font-weight: 700;
}

.slider {
  width: 97%;
  height: 3px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  margin: 20px 0;
}

.slider .bar {
  position: absolute;
  left: 50px;
  width: 300px;
  background: white;
  height: 100%;
}

.slider .bar .lp,
.slider .bar .rp {
  cursor: pointer;
  background: #555;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  line-height: 400%;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
}

.slider .bar .lp {
  left: 0px;
  top: -8px;
}

.slider .bar .rp {
  right: 0;
  top: -8px;
}

button[data-color] {
  margin-left: 3px;
  border: 1px solid white;
  background: #555;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

button[data-color=blue] {
  background: blue;
}

button[data-color=brown] {
  background: brown;
}

button[data-color=pink] {
  background: pink;
}

button[data-color=green] {
  background: green;
}

button[data-color=gray] {
  background: gray;
}

button[data-color=orange] {
  background: orange;
}

button[data-color=red] {
  background: red;
}

button[data-color=purple] {
  background: purple;
}

.cb-container {
  display: block;
  position: relative;
  padding-left: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
}

.cb-container input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cb-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ccc;
}

.cb-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid #1f1f1f;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cb-container input:checked ~ .checkmark {
  background-color: #ccc;
}

.cb-container input:checked ~ .checkmark:after {
  display: block;
}
/*# sourceMappingURL=shop.css.map */