@font-face {
    font-family: 'DINNeuzeitGroteskLTW01-BdCn';
    src: url('DINNeuzeitGroteskLTW01-BdCn.woff2') format('woff2'),
        url('DINNeuzeitGroteskLTW01-BdCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNeuzeitGroteskLTW01-BdCn';
    src: url('DINNeuzeitGroteskLTW01-BdCn.woff2') format('woff2'),
        url('DINNeuzeitGroteskLTW01-BdCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

